/* 
====================
Universal Reset
====================
*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'GT America Standard', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #191a1b;
    background-color: #191a1b;
    
}

.layout {
    position: relative;
    background-color: #fff;
    padding-bottom: 1rem;
}